<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019632080978-c0qho8svhm06al6pugofane11907c49n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019632080978-c0qho8svhm06al6pugofane11907c49n</string>
	<key>API_KEY</key>
	<string>AIzaSyD7CyDnUkjqesxX8G9CDLvTYZ2f98lERb8</string>
	<key>GCM_SENDER_ID</key>
	<string>1019632080978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michael.weinUser</string>
	<key>PROJECT_ID</key>
	<string>h2-mart-fafb1</string>
	<key>STORAGE_BUCKET</key>
	<string>h2-mart-fafb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019632080978:ios:6ffd9f61c7a368e489a78b</string>
</dict>
</plist>